body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.board {
  /* background-color: royalblue; */
  width: 1920;
  height: 1080;
}

.player1 {
  height: 100vh;
  background-color: royalblue;
}

.player2 {
  height: 100vh;
  background-color: gold;
}

.player3 {
  height: 100vh;
  background-color: crimson;
}

.player4 {
  height: 100vh;
  background-color: green;
}
