body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.board {
  /* background-color: royalblue; */
  width: 1920;
  height: 1080;
}

.player1 {
  height: 100vh;
  background-color: royalblue;
}

.player2 {
  height: 100vh;
  background-color: gold;
}

.player3 {
  height: 100vh;
  background-color: crimson;
}

.player4 {
  height: 100vh;
  background-color: green;
}

/* Hexagon styles from http://csshexagon.com/ */
.hexagon {
  position: relative;
  width: 20px;
  height: 11.55px;
  background-color: #ffff99;
  margin: 5.77px 0;
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 5.77px solid #ffff99;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #ffff99;
}

/* https://codepen.io/keithwyland/pen/qHwFz */
.jewel {
  width: 10px;
  height: 10px;
  float: left;
  margin: 6px;
}

.square {
  background: #ff232f;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-top-color: #7f1118;
  border-left-color: #7f1118;
  border-right-color: #ff6f78;
  border-bottom-color: #ff6f78;
}

.diamond {
  background: gold;
  border-width: 6px;
  border-style: solid;
  border-radius: 6px;
  border-top-color: #fff7a1;
  border-left-color: #7f7611;
  border-right-color: #fff7a1;
  border-bottom-color: #7f7611;
  -webkit-transform: rotate(45deg) scale(0.8);
  -moz-transform: rotate(45deg) scale(0.8);
  -ms-transform: rotate(45deg) scale(0.8);
  -o-transform: rotate(45deg) scale(0.8);
  transform: rotate(45deg) scale(0.8);
}

.city-label {
  margin: 0;
  width: 100px;
}

#controller {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;
}

.controllerBookend {
  display: flex;
  width: 100vw;
  height: 15vh;
  flex-direction: row;
}

.controllerMiddle {
  display: flex;
  width: 100vw;
  height: 70vh;
  flex-direction: row;
}

.controllerPanel {
  display: flex;
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
  height: 15vh;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  border-width: 1px;
  border-style: solid;
  width: 34vw;
  border-color: black;
  background-color: lightslategrey;
  align-items: center;
  justify-content: space-around;
}

.playerHand {
  display: 'flex';
  flex-direction: 'column';
  flex-flow: 'flex-wrap';
  justify-content: space-between;
}
.playerCard {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 20vh;
  align-items: center;
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
  background-color: white;
}

div.cardHolder {
  padding: 10px;
}

div.cardbox {
  width: 251px;
  height: 151px;
  box-shadow: 0px 0px 10px 5px rgba(176, 231, 47, 0.904);

  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

div.infectionCardBox {
  width: 251px;
  height: 151px;
  box-shadow: 0px 0px 10px 5px rgba(176, 231, 47, 0.904);

  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

div.playerCardBox {
  width: 251px;
  height: 151px;
  box-shadow: 0px 0px 10px 5px rgba(47, 179, 231, 0.904);

  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}
